@import 'my-select.css';
@import 'my-slider.css';

:root {
	--col0: hsl(165deg, 80%, 10%);
	--col1: hsl(225deg, 80%, 10%);
	--col2: hsl(285deg, 80%, 10%);
	--accent-col: hsl(45deg, 90%, 50%);
	--input-background: rgba(255, 255, 255, .8);

	--header-width: 640px;
	--header-height: 360px;
}

*,
::before,
::after {
	box-sizing: border-box;
}

body {
	position: relative;
	margin: 0;
	min-height: 100vh;
	background: var(--col1) top/var(--header-width) repeat-x fixed url('../assets/star_field.png');

	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: var(--accent-col);
	text-align: center;
	overflow-x: hidden;
}

/* Large Sections */

h1 {
	margin: auto;
	max-width: var(--header-width);
	padding: .5em;
	text-align: left;
}

h1>img {
	float: left;
	margin: .25em
}

#creator {
	color: var(--accent-col);
	font-size: .5em;
}

#menu {
	position: absolute;
	top: 1em;
	right: 1em;
	width: .8em;
	height: .8em;
}

/** Main & Footer **/
main {
	min-height: calc(100vh - 8em);
	padding: 1em 2em 5em 1em;
	background-color: inherit;
	border-top-right-radius: 2em;
	box-shadow: 2em 2em 2em 2em var(--accent-col);
}

footer {
	border-top-right-radius: 2em;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: auto;
	font-size: .7em;
	padding-top: 1em;
	margin: 0 auto;
	background-color: var(--accent-col);
	color: var(--col1);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 2em;
}

footer>div {
	padding: .5em 1em;
	text-align: center;
}

footer>div:first-child {
	text-align: left;
}

footer>div:last-child {
	text-align: right;
}

#acknowledgement {
	display: none;
	position: absolute;
	width: min(40em, 90vw);
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 2em;
	border-radius: .5em;
	border-top-right-radius: 2em;
	text-align: justify;
	cursor: pointer;
	color: var(--col0);
	background: var(--accent-col);
	z-index: 10;
}

/** Small Components **/
#menu {
	fill: var(--accent-col);
	cursor: pointer;
}

#info {
	font-weight: bold;
}

#text,
input[type=submit],
#lang-controls {
	display: inline-block;
	margin: .5em;
	width: 100%;
	padding: .25em;
	border: 1px solid var(--accent-col);
	border-radius: .25em;
}

span {
	display: inline-block
}

#lang-controls>div {
	display: none;
	padding: .5em;
}

#lang-controls>div.active {
	display: block;
}

#ipa-keys>div {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin-bottom: .5em;
}

#ipa-keys input {
	display: inline-block;
	vertical-align: top;
	border-width: 1px;
	min-width: 2em;
	padding: .25em;
	border-radius: 3px;
	text-align: center;
}

.keys {
	display: block;
	text-align: left;
	margin-bottom: .5em;
	user-select: none;
}

.keys>div {
	display: flex;
	flex-wrap: wrap;
}

.keys>div>div {
	vertical-align: top;
	border-width: 1px;
	min-width: 2em;
	padding: .25em;
	margin: .1em;
	border-radius: 3px;
	text-align: center;
	background-color: var(--accent-col);
	color: var(--col0);
	cursor: pointer;
}

input[type=submit] {
	display: none;
}

label {
	white-space: nowrap;
}

form>label {
	display: inline-block;
	width: 4em;
	height: 4em;
	border-radius: 50%;
	background-color: var(--accent-col);
}

form>label:before {
	content: '';
	position: absolute;
	left: 0;
	background-color: var(--accent-col);
	width: 100vw;
	height: .1em;
	margin-top: 3em;
}

form>label:after {
	content: '';
	position: absolute;
	border-bottom: .1em solid var(--accent-col);
	border-radius: 50%;
	width: 4.5em;
	height: 4.5em;
	margin-left: -4.25em;
}


form>label:active,
.keys>div>div:active {
	transform: scale(.95);
}

#renderbutton {
	width: inherit;
	height: inherit;
	padding: 1em;
	fill: var(--col0);
}

#drawoutput {
	margin-top: 1em;
	display: none;
}

#output-img {
	max-width: 95vw;
}

a>svg {
	height: 1em;
	width: 1em;
}

label>svg {
	height: 2em;
	width: 3em;
}

input[type=checkbox],
input[type=radio],
textarea,
label,
.keys,
select {
	font-size: 1.5em;
	margin: 0 .5em;
}

select {
	background-color: var(--accent-col);
	color: var(--col1);
	border-radius: .25em;
	padding: .25em;
	border: none;
}

.custominput {
	display: inline-block;
	position: relative;
	user-select: none;
	margin: .5em;
}

.custominput input[type=radio],
.custominput input[type=checkbox] {
	/* Hide the browser's default checkbox */
	display: none;
}

.checkmark {
	/* Create a custom checkbox */
	position: relative;
	top: .25em;
	margin: 0 .5em;
	height: 1em;
	width: 2em;
	border-radius: .5em;
	border: none;
	background-color: var(--input-background);
}

.checkmark::after {
	transition: ease .3s;
	position: absolute;
	content: '';
	top: 10%;
	left: 5%;
	display: block;
	width: 40%;
	height: 80%;
	border-radius: 50%;
	background-color: var(--col1);
}

.custominput input:checked~.checkmark::after {
	left: 55%;
	background-color: var(--accent-col);
}

@media all and (min-width: 640px) {

	header::before {
		content: "";
		display: block;
		margin: auto;
		width: var(--header-width);
		height: var(--header-height);

		/* continue glow effect around time lord silhouette */
		background-color: var(--accent-col);
		mask: no-repeat url(../assets/time_lord_glow.svg);
		-webkit-mask: no-repeat url(../assets/time_lord_glow.svg);
	}

	h1 {
		margin: auto;
		/* negative margin to overlay silhouette on glow */
		/* calc() doesn't work without 0px in front of minus sign */
		margin-top: calc(0px - var(--header-height));
		width: var(--header-width);
		height: var(--header-height);
		padding: 3em 2em;
		text-align: center;
		background-color: var(--col1);
		mask: no-repeat url(../assets/time_lord_silhouette.svg);
		-webkit-mask: no-repeat url(../assets/time_lord_silhouette.svg);
	}

	#creator {
		color: var(--accent-col);
		font-size: .5em;
	}

	#creator::before,
	#creator::after {
		content: '\2666';
		/* Unicode diamond */
		font-size: 1.5em;
		margin: 1em;
		vertical-align: middle;
	}

	h1>img {
		float: none;
		margin: 0;
	}

	#menu {
		position: relative;
		top: 1em;
		right: initial;
	}

	main,
	footer {
		border-top-right-radius: unset;
	}

	footer {
		font-size: 1em;
	}

	#text,
	input[type=submit],
	#lang-controls {
		max-width: 640px;
	}

	input[type=checkbox],
	input[type=radio],
	input[type=submit],
	textarea,
	label,
	.keys,
	select {
		font-size: 1em;
	}
}

/**Copyright 2020-2021 Mightyfrong, erroronline1, ModisR
 *
 * This file is part of the Gallifreyan Translation Helper,
 * henceforth referred to as "the GTH".
 *
 * The GTH is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * The GTH is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with the GTH.  If not, see <https://www.gnu.org/licenses/>.
 */
