:root {
	--main-col: #000c24;
	--accent-col: #f93;
}

* {
	box-sizing: border-box;
	transition: .5s padding ease-in-out, .5s color ease-in-out;
}

body {
	position: relative;
	margin: 0;
	min-height: 100vh;
	padding-bottom: 4em;

	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: top no-repeat url('assets/time_lord.svg'), var(--main-col) top/640px repeat-x url('assets/star_field.png');
	color: var(--accent-col);
}

/** Large Sections **/

header,
main,
footer {
	text-align: center;
}

header {
	margin: 0 auto;
	padding: 0;
	width: 100vw;
	color: var(--accent-col);
}

h1 {
	margin: .3em;
}

#creator {
	color: var(--main-col);
	font-size: .5em;
}

#creator::before,
#creator::after {
	content: '\2666';
	/* Unicode diamond */
	font-size: 1.5em;
	margin: 1em;
	vertical-align: middle;
}

main {
	margin: 0 auto;
	padding: 1em 0;
	border-radius: .5em;
}

footer {
	position: absolute;
	width: 100vw;
	bottom: 0;
	font-size: .7em;
}

footer>div {
	margin: 0 auto;

	background-color: var(--accent-col);
	color: var(--main-col);
}

footer>div::after {
	content: '';
	display: block;
	clear: both;
}

.ftr-elem {
	float: left;
	padding: .5em 1em;
}

.ftr-elem+.ftr-elem {
	float: right;
}

/** Small Components **/

h1>div {
	font-size: .5em;
}

#info {
	color: var(--accent-col);
	font-weight: bold;
}

#text,
input[type=submit],
#lang-controls {
	display: block;
	margin: .5em auto;
	width: 90vw;
	padding: 0;
}

span {
	display: inline-block
}

#lang-controls>div {
	display: none;
	padding: .5em;
}

#lang-controls>div.active {
	display: block;
}

#ipa-keys>div {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin-bottom: .5em;
}

#ipa-keys input {
	display: inline-block;
	vertical-align: top;
	border-width: 1px;
	width: 2em;
	padding: .25em;
	border-radius: 3px;
	text-align: center;
}

#drawoutput {
	display: none;
}

#canvas {
	background-color: transparent;
	max-width: 100vw;
}

a>svg {
	height: 1em;
	width: 1em;
}

label>svg {
	height: 2em;
	width: 3em;
}

@media (min-width: 640px) {

	header {
		padding: 8.5em 0 5.5em;
		max-width: 640px;
	}

	#creator {
		color: var(--accent-col);
	}

	footer {
		font-size: 1em;
	}

	#text,
	input[type=submit],
	#lang-controls {
		max-width: 640px;
	}
}


/**Copyright 2020 Mightyfrong, erroronline1, ModisR
 * 
 * This file is part of the Gallifreyan Translation Helper,
 * henceforth referred to as "the GTH".
 * 
 * The GTH is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * The GTH is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with the GTH.  If not, see <https://www.gnu.org/licenses/>.
 */