body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#info {
    color: red;
    font-weight: bold;
}

#lang-controls {
    margin: .25em 10em;
    padding: 0;
}

#lang-controls>div {
    display: none;
    padding: .5em;
}

#lang-controls>div.active {
    display: block;
}


#ipa-keys>div {
    display: inline-block;
    vertical-align: top;
    margin: .25em;
}

#ipa-keys input {
    width: 2em;
    padding: 0;
    text-align: center;
}

#canvas {
    border: 1px solid rgba(0,0,0,.1);
}

#headerbackground {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: -1;
}

header {
    padding: 7em 0;
    width: 50vw;
    margin: 0 auto;
    text-align: center;
    min-height:18em;
}

main, footer {
    text-align: center;
}

input[type=text] {
    width: 25vw
}

a> svg {height:1em; width:1em; }

/**Copyright 2020 Mightyfrong, erroronline1, ModisR
 * 
 * This file is part of the Gallifreyan Translation Helper,
 * henceforth referred to as "the GTH".
 * 
 * The GTH is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * The GTH is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with the GTH.  If not, see <https://www.gnu.org/licenses/>.
 */